
body {
  
  background: linear-gradient(135deg, #e1b7e4, #b38dd3);
}

h1 {
  top: 50px;
    text-align: center;
  color: green;
  animation: fadeIn 2s;

}
.random {
  top: 150px;
  text-align: center;
  color: blue;
}

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
